In [1]:
import scripts.query_database as function
import pandas as pd

In [2]:
# get all reviews
reviews_db = function.get_reviews()
reviews_db.head(5)

         _id  tmdb_id                                             review
0  tt0004972      618  [{'author': 'prabhushakti', 'rating': 10.0, 'u...
1  tt0008431   285807  [{'author': 'Le_Schpountz', 'rating': 6.0, 'ur...
2  tt0009062    48214  [{'author': 'germish', 'rating': 9.5, 'url': '...
3  tt0009143   463115  [{'author': '27B/6', 'rating': None, 'url': 'h...
4  tt0010058   352098  [{'author': 'ObscurHollywood', 'rating': None,...

In [3]:
# get all movies, no constrains 
combined_db = function.get_combined()
combined_db.head(5)

,_id,primaryTitle,originalTitle,isAdult,release_year,runtimeMinutes,genres,imdb_avgRating,imdb_numVotes,Directors,...,top_10_cast_popularity,num_of_crew,top_10_crew_popularity_mean,crews,top_10_crew_popularity,tmdb_avgRating,tmdb_numVotes,Writers,homepage,belongs_to_collection
0,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,70.0,"[Action, Adventure, Biography, History, Drama,...",6.1,622.0,[Charles Tait],...,"[0.6, 0.6]",5.0,0.60000,"[Charles Tait, Millard Johnson, Orrie Perry, R...","[0.6, 0.6, 0.6, 0.6, 0.6]",5.3,21.0,NaN,NaN,NaN
1,tt0000615,Robbery Under Arms,Robbery Under Arms,0,1907,60.0,[Drama],4.5,14.0,[Charles MacMahon],...,"[0.6, 0.6, 0.6, 0.6, 0.6, 0.6, 0.6, 0.6]",2.0,0.60000,"[Charles MacMahon, C. Byers Coates]","[0.6, 0.6]",1.0,1.0,[Rolf Boldrewood],NaN,NaN
2,tt0000679,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,120.0,"[Adventure, Fantasy]",5.2,35.0,"[Francis Boggs, Otis Turner]",...,"[1.4, 1.237, 0.6, 0.6, 0.6, 0.6, 0.6, 0.6, 0.6...",4.0,0.81625,"[L. Frank Baum, Francis Boggs, Otis Turner, Na...","[1.237, 0.828, 0.6, 0.6]",1.0,1.0,[L. Frank Baum],NaN,NaN
3,tt0000846,Un día en Xochimilco,Un día en Xochimilco,0,1909,0.0,NaN,NaN,NaN,[Hermanos Alva],...,NaN,NaN,NaN,NaN,NaN,5.0,1.0,NaN,NaN,NaN
4,tt0000867,Fiesta de toros,Fiesta de toros,0,1909,0.0,NaN,NaN,NaN,[Hermanos Alva],...,NaN,NaN,NaN,NaN,NaN,5.0,1.0,NaN,NaN,NaN

In [4]:
# get 50 sample movies
sample_db = function.get_combined(sample_size=50)
sample_db.head(5)

,_id,primaryTitle,originalTitle,isAdult,release_year,runtimeMinutes,genres,imdb_avgRating,imdb_numVotes,Directors,...,num_of_cast,top_10_cast_popularity_mean,top_10_cast_popularity,num_of_crew,top_10_crew_popularity_mean,crews,top_10_crew_popularity,tmdb_avgRating,tmdb_numVotes,Writers
0,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,70.0,"[Action, Adventure, Biography, History, Drama,...",6.1,622.0,[Charles Tait],...,2.0,0.6000,"[0.6, 0.6]",5.0,0.60000,"[Charles Tait, Millard Johnson, Orrie Perry, R...","[0.6, 0.6, 0.6, 0.6, 0.6]",5.3,21,NaN
1,tt0000615,Robbery Under Arms,Robbery Under Arms,0,1907,60.0,[Drama],4.5,14.0,[Charles MacMahon],...,8.0,0.6000,"[0.6, 0.6, 0.6, 0.6, 0.6, 0.6, 0.6, 0.6]",2.0,0.60000,"[Charles MacMahon, C. Byers Coates]","[0.6, 0.6]",1.0,1,[Rolf Boldrewood]
2,tt0000679,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,120.0,"[Adventure, Fantasy]",5.2,35.0,"[Francis Boggs, Otis Turner]",...,11.0,0.7437,"[1.4, 1.237, 0.6, 0.6, 0.6, 0.6, 0.6, 0.6, 0.6...",4.0,0.81625,"[L. Frank Baum, Francis Boggs, Otis Turner, Na...","[1.237, 0.828, 0.6, 0.6]",1.0,1,[L. Frank Baum]
3,tt0000846,Un día en Xochimilco,Un día en Xochimilco,0,1909,0.0,NaN,NaN,NaN,[Hermanos Alva],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1,NaN
4,tt0000867,Fiesta de toros,Fiesta de toros,0,1909,0.0,NaN,NaN,NaN,[Hermanos Alva],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1,NaN

In [5]:
# get movies later than 1960
new_db = function.get_combined(release_year_cutoff=1960)
new_db.head(5)

,_id,primaryTitle,originalTitle,isAdult,release_year,runtimeMinutes,genres,imdb_avgRating,imdb_numVotes,Directors,...,num_of_cast,top_10_cast_popularity_mean,top_10_cast_popularity,num_of_crew,top_10_crew_popularity_mean,crews,top_10_crew_popularity,tmdb_avgRating,tmdb_numVotes,homepage
0,tt0011216,Spanish Fiesta,La fête espagnole,0,2019,67.0,[Drama],6.6,22.0,[Germaine Dulac],...,5,0.983000,"[1.4, 1.22, 1.095, 0.6, 0.6]",5,0.676000,"[Germaine Dulac, Serge Sandberg, Paul Parguel,...","[0.98, 0.6, 0.6, 0.6, 0.6]",6.0,1,NaN
1,tt0011801,Tötet nicht mehr,Tötet nicht mehr,0,2019,127.0,"[Action, Crime, Drama]",NaN,NaN,None,...,11,0.853200,"[1.532, 1.4, 1.4, 0.6, 0.6, 0.6, 0.6, 0.6, 0.6...",6,0.733333,"[Gerhard Lamprecht, Willi Herrmann, Lupu Pick,...","[1.4, 0.6, 0.6, 0.6, 0.6, 0.6]",0.0,0,NaN
2,tt0015414,La tierra de los toros,La tierra de los toros,0,2000,60.0,[Drama],5.4,11.0,Musidora,...,2,0.600000,"[0.6, 0.6]",1,0.600000,[Musidora],[0.6],0.0,0,NaN
3,tt0015724,Dama de noche,Dama de noche,0,1993,102.0,"[Drama, Mystery, Romance, Thriller]",6.0,21.0,"[Eva López Sánchez, None]",...,6,0.762333,"[1.094, 0.84, 0.84, 0.6, 0.6, 0.6]",6,0.784667,"[Rodrigo Prieto, Hubert Barrero, Eva López Sán...","[1.708, 0.6, 0.6, 0.6, 0.6, 0.6]",8.8,4,http://www.elccc.com.mx/sitio/index.php/produc...
4,tt0016906,Frivolinas,Frivolinas,0,2014,80.0,"[Comedy, Musical]",5.6,15.0,[Arturo Carballo],...,6,0.600000,"[0.6, 0.6, 0.6, 0.6, 0.6, 0.6]",2,0.600000,"[Arturo Carballo, Ramón de Baños]","[0.6, 0.6]",0.0,0,NaN

In [6]:
# get all possible column names
print(function.get_all_columns_name())

['_id', 'primaryTitle', 'originalTitle', 'isAdult', 'release_year', 'release_date', 'runtimeMinutes', 'genres', 'imdb_avgRating', 'imdb_numVotes', 'Directors', 'casts', 'tmdb_id', 'poster_path', 'original_language', 'popularity', 'budget', 'revenue', 'status', 'tagline', 'overview', 'company_name', 'keywords_name', 'num_of_cast', 'top_10_cast_popularity_mean', 'top_10_cast_popularity', 'num_of_crew', 'top_10_crew_popularity_mean', 'crews', 'top_10_crew_popularity', 'tmdb_avgRating', 'tmdb_numVotes', 'Writers', 'homepage', 'belongs_to_collection']

In [7]:
# drop selected columns to reduce query size
drop_cols = ['overview', 'tagline', 'originalTitle', 'num_of_cast', 'top_10_cast_popularity_mean'
             , 'top_10_cast_popularity', 'num_of_crew', 'top_10_crew_popularity_mean', 'crews'
             , 'top_10_crew_popularity', 'homepage']
dropped_db = function.get_combined(drop_lst=drop_cols)
dropped_db.head(5)

,_id,primaryTitle,isAdult,release_year,runtimeMinutes,genres,imdb_avgRating,imdb_numVotes,Directors,casts,...,popularity,budget,revenue,status,company_name,keywords_name,tmdb_avgRating,tmdb_numVotes,Writers,belongs_to_collection
0,tt0000574,The Story of the Kelly Gang,0,1906,70.0,"[Action, Adventure, Biography, History, Drama,...",6.1,622.0,[Charles Tait],"[Elizabeth Tait, John Tait]",...,2.764,0,0,Released,"[Johnson and Gibson, J. & N. Tait]","[silent film, partially lost film]",5.3,21.0,NaN,NaN
1,tt0000615,Robbery Under Arms,0,1907,60.0,[Drama],4.5,14.0,[Charles MacMahon],"[Jim Gerald, J. Williams, George Merriman, Lan...",...,0.600,0,0,Released,[MacMahon's Exquisite Pictures],NaN,1.0,1.0,[Rolf Boldrewood],NaN
2,tt0000679,The Fairylogue and Radio-Plays,0,1908,120.0,"[Adventure, Fantasy]",5.2,35.0,"[Francis Boggs, Otis Turner]","[Frank Burns, L. Frank Baum, George E. Wilson,...",...,0.600,0,0,Released,[The Radio Play Company of America],[silent film],1.0,1.0,[L. Frank Baum],NaN
3,tt0000846,Un día en Xochimilco,0,1909,0.0,NaN,NaN,NaN,[Hermanos Alva],NaN,...,0.600,0,0,Released,NaN,NaN,5.0,1.0,NaN,NaN
4,tt0000867,Fiesta de toros,0,1909,0.0,NaN,NaN,NaN,[Hermanos Alva],NaN,...,0.600,0,0,Released,NaN,NaN,5.0,1.0,NaN,NaN

In [8]:
function.get_combined(1910, drop_cols, 100)

,_id,primaryTitle,isAdult,release_year,genres,imdb_avgRating,imdb_numVotes,Directors,Writers,casts,...,popularity,budget,revenue,status,runtimeMinutes,tmdb_avgRating,tmdb_numVotes,poster_path,company_name,keywords_name
0,tt0001112,Amleto,0,1910,[Drama],3.7,20.0,[Mario Caserini],[William Shakespeare],"[Dante Cappelli, Maria Caserini]",...,0.600,0,0,Released,8.0,1.0,1,NaN,NaN,NaN
1,tt0001141,The Butterfly,0,1910,NaN,NaN,NaN,[Robert W. Paul],NaN,NaN,...,0.600,0,0,Released,2.0,0.0,0,NaN,NaN,NaN
2,tt0001175,Camille,0,1912,"[Drama, Romance]",5.8,22.0,"[André Calmettes, Louis Mercanton, Henri Pouctal]",[Alexandre Dumas fils],"[Lou Tellegen, Paul Capellani, Sarah Bernhardt...",...,0.600,0,0,Released,16.0,1.0,1,https://www.themoviedb.org/t/p/w600_and_h900_b...,[Le Film d'Art],NaN
3,tt0001179,Desfile histórico del centenario,0,1910,NaN,NaN,NaN,[Hermanos Alva],NaN,NaN,...,0.600,0,0,Released,0.0,5.0,1,NaN,NaN,NaN
4,tt0001184,Don Juan de Serrallonga,0,1910,"[Adventure, Drama]",3.4,11.0,"[Ricardo de Baños, Alberto Marro]",[Víctor Balaguer],"[Cecilio Rodríguez de la Vega, Dolores Puchol]",...,0.600,0,0,Released,58.0,1.0,1,https://www.themoviedb.org/t/p/w600_and_h900_b...,[Hispano Films],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,tt0003378,A Sister to Carmen,0,1913,[Drama],NaN,NaN,[Charles L. Gaskill],NaN,[Helen Gardner],...,0.600,0,0,Released,0.0,0.0,0,NaN,NaN,NaN
96,tt0003386,Sodoms Ende,0,1913,[Drama],7.7,9.0,[Alexander Moissi],[Hermann Sudermann],"[Alfred Abel, Camilla Eibenschütz, Johanna Ter...",...,0.600,0,0,Released,0.0,1.0,1,NaN,NaN,NaN
97,tt0003419,The Student of Prague,0,1913,"[Drama, Fantasy, Horror]",6.5,1850.0,"[Stellan Rye, Paul Wegener]","[Hanns Heinz Ewers, Alfred de Musset, Klaus Ri...","[Lyda Salmonova, Hanns Heinz Ewers, Lothar Kör...",...,3.559,0,0,Released,85.0,5.8,38,https://www.themoviedb.org/t/p/w600_and_h900_b...,"[Bioskop-Film, Deutsche Bioscop GmbH]",[german expressionism]
98,tt0003423,Die Sumpfblume,0,1913,NaN,NaN,NaN,Viggo Larsen,NaN,"[Viggo Larsen, Wanda Treumann, Richard Liebesny]",...,0.600,0,0,Released,53.0,0.0,0,NaN,NaN,[partially lost film]
99,tt0003431,Die Tangokönigin,0,1913,[Comedy],5.6,8.0,[Max Mack],NaN,"[Olga Engl, Hanni Weisse]",...,0.600,0,0,Released,60.0,0.0,0,https://www.themoviedb.org/t/p/w600_and_h900_b...,[Vitascope GmbH],NaN

In [9]:
movieLens_db = function.get_movieLens()
movieLens_db.head(5)

Empty DataFrame
Columns: []
Index: []

In [10]:
movieLens_reviews_db = function.get_movieLens_reviews()
movieLens_reviews_db.head(5)

Empty DataFrame
Columns: []
Index: []