In [1]:
import os
import sys
module_path = os.path.abspath(os.path.join('../scripts'))
if module_path not in sys.path:
    sys.path.append(module_path)
import query_database as function
import pandas as pd
import numpy as np
import pickle
from sklearn.preprocessing import LabelEncoder

In [2]:
ratings = pd.read_csv('data/ml-latest/ratings.csv')
movies = pd.read_csv('data/ml-latest/movies.csv')
links = pd.read_csv('data/ml-latest/links.csv')
tags = pd.read_csv('data/ml-latest/tags.csv')

In [3]:
movies[movies['title'].str.contains('Lord of the Rings')]

,movieId,title,genres
2033,2116,"Lord of the Rings, The (1978)",Adventure|Animation|Children|Fantasy
4898,4993,"Lord of the Rings: The Fellowship of the Ring,...",Adventure|Fantasy
5854,5952,"Lord of the Rings: The Two Towers, The (2002)",Adventure|Fantasy
7042,7153,"Lord of the Rings: The Return of the King, The...",Action|Adventure|Drama|Fantasy

In [4]:
links[links['movieId'] == 7153]

      movieId  imdbId  tmdbId
7042     7153  167260   122.0

In [114]:
links[links['tmdbId'] == 10480]

      movieId  imdbId   tmdbId
3801     3893  171580  10480.0

In [6]:
tags.head()

   userId  movieId           tag   timestamp
0      14      110          epic  1443148538
1      14      110      Medieval  1443148532
2      14      260        sci-fi  1442169410
3      14      260  space action  1442169421
4      14      318  imdb top 250  1442615195

In [7]:
drop_cols = ['tagline', 'imdb_avgRating', 'imdb_numVotes', 'poster_path', 'num_of_cast', 'top_10_cast_popularity_mean'
             'homepage', 'budget', 'revenue', 'imdb_numVotes', 'top_10_cast_popularity', 'top_10_crew_popularity_mean'
             'top_10_crew_popularity', 'originalTitle', 'belongs_to_collection', 'release_date']
combined_db = function.get_combined(release_year_cutoff=2000, drop_lst=drop_cols)

In [8]:
combined_db = combined_db.drop(columns = ['homepage', 'top_10_cast_popularity_mean', 
                                          'num_of_crew', 'top_10_crew_popularity', 
                                          'status', 'top_10_crew_popularity_mean'])

In [9]:
combined_db.shape

(110889, 19)

In [10]:
# preprocessing
combined = combined_db.copy()
combined['runtimeMinutes'] = combined['runtimeMinutes'].fillna(combined["runtimeMinutes"].median())
combined=combined.replace({'runtimeMinutes': {0: combined["runtimeMinutes"].median()}}) 
# combined['genres'] = combined['genres'].fillna('None')
combined['Writers'] = combined['Writers'].fillna('None')
combined['Directors'] = combined['Directors'].fillna('None')
combined['casts'] = combined['casts'].fillna('None')
# combined['keywords_name'] = combined['keywords_name'].fillna('None')
combined['company_name'] = combined['company_name'].fillna('None')
combined['overview'] = combined['overview'].fillna('')
combined['casts'] = combined['casts'].apply(lambda x: x[:3] if len(x) >=3 else x)

# drop rows with the same title
combined = combined.drop_duplicates(subset='primaryTitle', keep="first")
combined = combined.drop(columns = ['keywords_name', 'genres'])
combined = combined.reset_index()

In [52]:
def make_genresList(x):
    gen = []
    st = " "
    if not isinstance(x, list):
        if x == 'None':
            return ''
        else:
            gen.append(x)
            return (st.join(gen))
    for i in x:
        if i == 'Science Fiction':
            scifi = 'Sci-Fi'
            gen.append(scifi)
        else:
            gen.append(i)
    if gen == []:
        return ''
    else:
        return (st.join(gen))

In [11]:
def process_list(x):
    gen = []
    st = " "
    if not isinstance(x, list):
        if x == 'None':
            return ''
        else:
            gen.append(x)
            return (st.join(gen))
    for i in x:
        gen.append(i)
    if gen == [] or gen == '[]':
        return ''
    else:
        return (st.join(gen))

In [12]:
# combined['genres'] = combined['genres'].map(lambda x: make_genresList(x))
combined['Directors'] = combined['Directors'].map(lambda x: process_list(x))
combined['casts'] = combined['casts'].map(lambda x: process_list(x))
combined['Writers'] = combined['Writers'].map(lambda x: process_list(x))
combined['company_name'] = combined['company_name'].map(lambda x: process_list(x))
# combined['keywords_name'] = combined['keywords_name'].map(lambda x: process_list(x))
# don't need crews

In [13]:
combined['casts'].values[1000]

'Ashley Williams Omar Benson Miller E-40'

In [14]:
combined['document'] = combined[['Directors', 'casts', 'Writers',
                                 'company_name', 'overview']].apply(lambda x: ' '.join(x), axis=1)
combined = combined.astype({"isAdult": int})

In [15]:
combined.head()

,index,_id,primaryTitle,isAdult,release_year,runtimeMinutes,Directors,Writers,casts,tmdb_id,original_language,popularity,overview,company_name,crews,tmdb_avgRating,tmdb_numVotes,release_year_int,document
0,0,tt0011216,Spanish Fiesta,0,2019.0,67.0,Germaine Dulac,Louis Delluc,Ève Francis Gabriel Gabrio Gaston Modot,364671,fr,0.6,A Spanish festival reveals the emotional dista...,Les Films Louis Nalpas,"[Germaine Dulac, Serge Sandberg, Paul Parguel,...",6.0,1,2019,Germaine Dulac Ève Francis Gabriel Gabrio Gast...
1,1,tt0011801,Tötet nicht mehr,0,2019.0,127.0,,Gerhard Lamprecht,Emilie Kurz Rudolf Klein-Rhoden Paul Rehkopf,611205,de,0.6,The director and co-writer Lupu Pick plays mus...,Rex-Film GmbH,"[Gerhard Lamprecht, Willi Herrmann, Lupu Pick,...",0.0,0,2019,Emilie Kurz Rudolf Klein-Rhoden Paul Rehkopf ...
2,2,tt0015414,La tierra de los toros,0,2000.0,60.0,Musidora,,Musidora Antonio Cañero,607290,es,0.6,,Musidora Films,[Musidora],0.0,0,2000,Musidora Musidora Antonio Cañero Musidora Films
3,3,tt0016906,Frivolinas,0,2014.0,80.0,Arturo Carballo,,María Caballé José López Alonso Ramón Álvarez ...,400531,es,0.6,Don Casto is a widower who spends most of his ...,Ediciones Seleccionadas Arturo Carballo,"[Arturo Carballo, Ramón de Baños]",0.0,0,2014,Arturo Carballo María Caballé José López Alons...
4,4,tt0019996,Hongxia,0,2011.0,94.0,Wen Yi-Min,,Xuepeng Fan Chu Shao-Chuen Wen Yi-Min,267384,zh,0.6,Red Heroine was a smash hit on release and a p...,Youlian Film Company,"[Shiquan Yao, Wen Yi-Min, Shang Guan-Wu]",6.3,3,2011,Wen Yi-Min Xuepeng Fan Chu Shao-Chuen Wen Yi-M...

In [46]:
new_df = combined.copy()
new_df = new_df.drop(columns = ['release_year', 'casts', 'original_language',
                                'overview', 'runtimeMinutes', 'tmdb_numVotes',
                                'crews', 'index', 'isAdult'])
new_df = new_df.reset_index()
new_df.shape

(103215, 11)

In [47]:
new_df.head()

,index,_id,primaryTitle,Directors,Writers,tmdb_id,popularity,company_name,tmdb_avgRating,release_year_int,document
0,0,tt0011216,Spanish Fiesta,Germaine Dulac,Louis Delluc,364671,0.6,Les Films Louis Nalpas,6.0,2019,Germaine Dulac Ève Francis Gabriel Gabrio Gast...
1,1,tt0011801,Tötet nicht mehr,,Gerhard Lamprecht,611205,0.6,Rex-Film GmbH,0.0,2019,Emilie Kurz Rudolf Klein-Rhoden Paul Rehkopf ...
2,2,tt0015414,La tierra de los toros,Musidora,,607290,0.6,Musidora Films,0.0,2000,Musidora Musidora Antonio Cañero Musidora Films
3,3,tt0016906,Frivolinas,Arturo Carballo,,400531,0.6,Ediciones Seleccionadas Arturo Carballo,0.0,2014,Arturo Carballo María Caballé José López Alons...
4,4,tt0019996,Hongxia,Wen Yi-Min,,267384,0.6,Youlian Film Company,6.3,2011,Wen Yi-Min Xuepeng Fan Chu Shao-Chuen Wen Yi-M...

In [48]:
new_df.tmdb_id.nunique()

103215

In [51]:
tmdb_ids = new_df.tmdb_id.unique()
links_new = links[links['tmdbId'].isin(tmdb_ids)]
links_new.tmdbId.nunique()

22275

In [57]:
links_new = links_new.drop_duplicates(subset='tmdbId', keep="first")

In [58]:
links_new.movieId.nunique()

22275

In [59]:
links_new.head()

      movieId  imdbId    tmdbId
711       723   92123  131232.0
878       895  105729   79782.0
2594     2679  124555   84198.0
2684     2769  138946   19457.0
3091     3177  195945   10471.0

In [60]:
links_new[links_new['movieId'] == 7153]

      movieId  imdbId  tmdbId
7042     7153  167260   122.0

In [61]:
movieIds = links_new.movieId.unique()
ratings_new = ratings[ratings['movieId'].isin(movieIds)]
ratings_new.movieId.nunique()

21639

In [62]:
ratings_new.head()

     userId  movieId  rating   timestamp
14        1     3826     2.0  1256677210
15        1     3893     3.5  1256677486
453       4     3190     3.5  1113766176
468       4     3298     4.5  1113766820
469       4     3300     3.5  1113766824

In [63]:
movieIds = ratings_new.movieId.unique()
movies_new = movies[movies['movieId'].isin(movieIds)]
movies_new.movieId.nunique()

21639

In [64]:
movies_new.head()

      movieId                 title                genres
711       723    Two Friends (1986)                 Drama
878       895  Venice/Venice (1992)                 Drama
2594     2679  Finding North (1998)  Comedy|Drama|Romance
2684     2769     Yards, The (2000)           Crime|Drama
3091     3177    Next Friday (2000)                Comedy

In [65]:
movieIds = ratings_new.movieId.unique()
tags_new = tags[tags['movieId'].isin(movieIds)]
tags_new.movieId.nunique()

16421

In [66]:
tags_new.head()

    userId  movieId            tag   timestamp
10      14     7458           Epic  1443148675
12      14   117529      dinosaurs  1443148646
17      42    37733  disappointing  1264106059
18      42    37733      overrated  1264106052
19      42    37733         stupid  1264106067

In [108]:
tags_new.to_csv('data/tags_new.csv', index=False)

In [67]:
new_df = new_df.merge(links_new, left_on='tmdb_id', right_on='tmdbId')

In [68]:
new_df.drop(['imdbId', '_id', 'tmdbId'], axis=1, inplace=True)

In [69]:
movieIds = ratings_new.movieId.unique()
new_df = new_df[new_df['movieId'].isin(movieIds)]
new_df.movieId.nunique()

21639

In [70]:
new_df.tmdb_id.nunique()

21639

In [71]:
all_movies_tmdbId = new_df.tmdb_id.unique()
with open('./pkl/all_movies_tmdbId.pkl', 'wb') as fh:
    pickle.dump(all_movies_tmdbId, fh)

In [81]:
new_df.head()

,index,primaryTitle,Directors,Writers,tmdb_id,popularity,company_name,tmdb_avgRating,release_year_int,document,movieId
0,5,Kate & Leopold,James Mangold None,Steven Rogers,11232,12.086,Konrad Pictures Miramax,6.3,2001,James Mangold None Hugh Jackman Meg Ryan Liev ...,4992
1,10,The Other Side of the Wind,Orson Welles None,Dax Phelan,299782,11.076,SACI Les Films de l'Astrophore,6.8,2018,Orson Welles None Orson Welles John Huston Den...,159163
2,14,Crime and Punishment,Menahem Golan None,Fyodor Dostoevsky Ivan Mendzheritskiy,109809,7.465,,5.5,2002,Menahem Golan None John Hurt Crispin Glover Va...,116293
3,17,Master i Margarita,Yuriy Kara,Mikhail A. Bulgakov Felix Kroll,63163,2.223,Tvorcheskaya Assotsiatsiya Mezhdunarodnykh Pro...,6.2,2006,Yuriy Kara Mikhail Ulyanov Anastasiya Vertinsk...,167420
4,18,The Fantasticks,Michael Ritchie,Harvey Schmidt Tom Jones,62127,5.170,Sullivan Street Productions Michael Ritchie Pr...,5.5,2000,Michael Ritchie Brad Sullivan Jean Louisa Kell...,4193

In [94]:
combined_genres = new_df.merge(movies_new, on='movieId')

In [96]:
combined_genres['genres'] = combined_genres['genres'].str.replace(pat="|", repl=" ", regex=False)

In [100]:
combined_genres.head()

,index,primaryTitle,Directors,Writers,tmdb_id,popularity,company_name,tmdb_avgRating,release_year_int,document,movieId,title,genres
0,5,Kate & Leopold,James Mangold None,Steven Rogers,11232,12.086,Konrad Pictures Miramax,6.3,2001,James Mangold None Hugh Jackman Meg Ryan Liev ...,4992,Kate & Leopold (2001),Comedy Romance
1,10,The Other Side of the Wind,Orson Welles None,Dax Phelan,299782,11.076,SACI Les Films de l'Astrophore,6.8,2018,Orson Welles None Orson Welles John Huston Den...,159163,The Other Side of the Wind (2016),Comedy Drama
2,14,Crime and Punishment,Menahem Golan None,Fyodor Dostoevsky Ivan Mendzheritskiy,109809,7.465,,5.5,2002,Menahem Golan None John Hurt Crispin Glover Va...,116293,Crime and Punishment (2002),Drama
3,17,Master i Margarita,Yuriy Kara,Mikhail A. Bulgakov Felix Kroll,63163,2.223,Tvorcheskaya Assotsiatsiya Mezhdunarodnykh Pro...,6.2,2006,Yuriy Kara Mikhail Ulyanov Anastasiya Vertinsk...,167420,The Master and Margarita (1994),Drama Fantasy Mystery Romance
4,18,The Fantasticks,Michael Ritchie,Harvey Schmidt Tom Jones,62127,5.170,Sullivan Street Productions Michael Ritchie Pr...,5.5,2000,Michael Ritchie Brad Sullivan Jean Louisa Kell...,4193,"Fantasticks, The (1995)",Musical

In [101]:
combined_genres['document'] = combined_genres[['document', 'genres']].apply(lambda x: ' '.join(x), axis=1)

In [107]:
combined_genres.to_csv('data/combined_genres.csv', index=False)

In [73]:
print("{} unique movies in dataset".format(len(new_df.primaryTitle.unique())))

21639 unique movies in dataset

In [74]:
movie_unique_ids = ratings_new.movieId.unique()
movie_to_index = {o:i for i,o in enumerate(movie_unique_ids)}
# ratings_new['movie'] = ratings_new['movieId'].apply(lambda x: movie_to_index[x])

In [75]:
user_unique_ids = ratings_new.userId.unique()
user_to_index = {o:i for i,o in enumerate(user_unique_ids)}
# ratings_new['user'] = ratings_new['userId'].apply(lambda x: user_to_index[x])

In [77]:
with open('./pkl/movie_to_index.pkl', 'wb') as fh:
    pickle.dump(movie_to_index, fh)

In [78]:
with open('./pkl/user_to_index.pkl', 'wb') as fh:
    pickle.dump(user_to_index, fh)

In [79]:
ratings_new.head()

     userId  movieId  rating   timestamp
14        1     3826     2.0  1256677210
15        1     3893     3.5  1256677486
453       4     3190     3.5  1113766176
468       4     3298     4.5  1113766820
469       4     3300     3.5  1113766824

In [80]:
ratings_new.to_csv('data/ratings_new.csv', index=False)
movies_new.to_csv('data/movies_new.csv', index=False)

In [112]:
movie_to_index

{3826: 0,
 3893: 1,
 3190: 2,
 3298: 3,
 3300: 4,
 3301: 5,
 3316: 6,
 3354: 7,
 3452: 8,
 3481: 9,
 3513: 10,
 3555: 11,
 3578: 12,
 3593: 13,
 3617: 14,
 3623: 15,
 3717: 16,
 3745: 17,
 3751: 18,
 3753: 19,
 3755: 20,
 3793: 21,
 3825: 22,
 3827: 23,
 3879: 24,
 3889: 25,
 3916: 26,
 3948: 27,
 3952: 28,
 3977: 29,
 3980: 30,
 3981: 31,
 3990: 32,
 3994: 33,
 3996: 34,
 3997: 35,
 4011: 36,
 4015: 37,
 4018: 38,
 4019: 39,
 4022: 40,
 4025: 41,
 4034: 42,
 4052: 43,
 4148: 44,
 4167: 45,
 4223: 46,
 4226: 47,
 4232: 48,
 4238: 49,
 4239: 50,
 4246: 51,
 4270: 52,
 4306: 53,
 4308: 54,
 4343: 55,
 4344: 56,
 4367: 57,
 4446: 58,
 4448: 59,
 4638: 60,
 4643: 61,
 4701: 62,
 4718: 63,
 4719: 64,
 4721: 65,
 4734: 66,
 4776: 67,
 4844: 68,
 4874: 69,
 4878: 70,
 4886: 71,
 4889: 72,
 4890: 73,
 4896: 74,
 4901: 75,
 4958: 76,
 4963: 77,
 4975: 78,
 4979: 79,
 4992: 80,
 4993: 81,
 4995: 82,
 5010: 83,
 5064: 84,
 5107: 85,
 5110: 86,
 5152: 87,
 5218: 88,
 5219: 89,
 5254: 90,
 5283: 91,
 5299: 92,
 5349: 93,
 5378: 94,
 5388: 95,
 5400: 96,
 5418: 97,
 5445: 98,
 5459: 99,
 5463: 100,
 5464: 101,
 5481: 102,
 5502: 103,
 5504: 104,
 5507: 105,
 5563: 106,
 5665: 107,
 5679: 108,
 5816: 109,
 5872: 110,
 5876: 111,
 5882: 112,
 5903: 113,
 5944: 114,
 5945: 115,
 5952: 116,
 5954: 117,
 5956: 118,
 5959: 119,
 5989: 120,
 5999: 121,
 6003: 122,
 6016: 123,
 6059: 124,
 6213: 125,
 6264: 126,
 6281: 127,
 6283: 128,
 6294: 129,
 6322: 130,
 6333: 131,
 6365: 132,
 6373: 133,
 6377: 134,
 6378: 135,
 6383: 136,
 6534: 137,
 6535: 138,
 6537: 139,
 6539: 140,
 6541: 141,
 6548: 142,
 6550: 143,
 6564: 144,
 6586: 145,
 6595: 146,
 6679: 147,
 6708: 148,
 6754: 149,
 6764: 150,
 6874: 151,
 6879: 152,
 6934: 153,
 6947: 154,
 7143: 155,
 7147: 156,
 7153: 157,
 7346: 158,
 7348: 159,
 7361: 160,
 7369: 161,
 7373: 162,
 7438: 163,
 7444: 164,
 7454: 165,
 7458: 166,
 8360: 167,
 8361: 168,
 8371: 169,
 8376: 170,
 8464: 171,
 8528: 172,
 8622: 173,
 8636: 174,
 8641: 175,
 8644: 176,
 8665: 177,
 8781: 178,
 8798: 179,
 8807: 180,
 8810: 181,
 8861: 182,
 8874: 183,
 8912: 184,
 8914: 185,
 8919: 186,
 8961: 187,
 8972: 188,
 8982: 189,
 8985: 190,
 27773: 191,
 27846: 192,
 27905: 193,
 31184: 194,
 31696: 195,
 31804: 196,
 31878: 197,
 32302: 198,
 32587: 199,
 33004: 200,
 33437: 201,
 33493: 202,
 33646: 203,
 33679: 204,
 33794: 205,
 33834: 206,
 34162: 207,
 36529: 208,
 37380: 209,
 37733: 210,
 39231: 211,
 39435: 212,
 40278: 213,
 42721: 214,
 42738: 215,
 43558: 216,
 43679: 217,
 43708: 218,
 43936: 219,
 44191: 220,
 44193: 221,
 44199: 222,
 44399: 223,
 44759: 224,
 48774: 225,
 51662: 226,
 51935: 227,
 52950: 228,
 53000: 229,
 53972: 230,
 53996: 231,
 54286: 232,
 55765: 233,
 56367: 234,
 3949: 235,
 4973: 236,
 5137: 237,
 5528: 238,
 5995: 239,
 8784: 240,
 8873: 241,
 8949: 242,
 8950: 243,
 27831: 244,
 30749: 245,
 30820: 246,
 31410: 247,
 44195: 248,
 44204: 249,
 46578: 250,
 48394: 251,
 48516: 252,
 48696: 253,
 48780: 254,
 49272: 255,
 49530: 256,
 50068: 257,
 51255: 258,
 52952: 259,
 54503: 260,
 54997: 261,
 55118: 262,
 55247: 263,
 55290: 264,
 55820: 265,
 56782: 266,
 3744: 267,
 3986: 268,
 4033: 269,
 4903: 270,
 41997: 271,
 3897: 272,
 3863: 273,
 5618: 274,
 6863: 275,
 7254: 276,
 8645: 277,
 33166: 278,
 35836: 279,
 40339: 280,
 40629: 281,
 45517: 282,
 47099: 283,
 50872: 284,
 51086: 285,
 53125: 286,
 55721: 287,
 58559: 288,
 59315: 289,
 59784: 290,
 60069: 291,
 63082: 292,
 63859: 293,
 64969: 294,
 68157: 295,
 68954: 296,
 71033: 297,
 71899: 298,
 72641: 299,
 73017: 300,
 76093: 301,
 78105: 302,
 78499: 303,
 79091: 304,
 79132: 305,
 80463: 306,
 81845: 307,
 84152: 308,
 85342: 309,
 86298: 310,
 86880: 311,
 86911: 312,
 87485: 313,
 87520: 314,
 87869: 315,
 87876: 316,
 88405: 317,
 89745: 318,
 90746: 319,
 91126: 320,
 91529: 321,
 92259: 322,
 93831: 323,
 94777: 324,
 95201: 325,
 95441: 326,
 95510: 327,
 95543: 328,
 95720: 329,
 97913: 330,
 97921: 331,
 97938: 332,
 99114: 333,
 101142: 334,
 102686: 335,
 102716: 336,
 102903: 337,
 103042: 338,
 103141: 339,
 103249: 340,
 103335: 341,
 103384: 342,
 105844: 343,
 106487: 344,
 106782: 345,
 108932: 346,
 109374: 347,
 109487: 348,
 112175: 349,
 112552: 350,
 112852: 351,
 115617: 352,
 116797: 353,
 116897: 354,
 117529: 355,
 122882: 356,
 122904: 357,
 142488: 358,
 152081: 359,
 3993: 360,
 5009: 361,
 5991: 362,
 6773: 363,
 6870: 364,
 7371: 365,
 8368: 366,
 34405: 367,
 40583: 368,
 40815: 369,
 41566: 370,
 44555: 371,
 44665: 372,
 48738: 373,
 51540: 374,
 54001: 375,
 59369: 376,
 64620: 377,
 67255: 378,
 69844: 379,
 70286: 380,
 72226: 381,
 73321: 382,
 74458: 383,
 75985: 384,
 76251: 385,
 78039: 386,
 79695: 387,
 81834: 388,
 85414: 389,
 86190: 390,
 88125: 391,
 89804: 392,
 90600: 393,
 90866: 394,
 91485: 395,
 91500: 396,
 91535: 397,
 91542: 398,
 91630: 399,
 93840: 400,
 96079: 401,
 96610: 402,
 98809: 403,
 98961: 404,
 99112: 405,
 100745: 406,
 3798: 407,
 46530: 408,
 45447: 409,
 47610: 410,
 48043: 411,
 48385: 412,
 49278: 413,
 54259: 414,
 58347: 415,
 6942: 416,
 84374: 417,
 3225: 418,
 3852: 419,
 6711: 420,
 7451: 421,
 8533: 422,
 40819: 423,
 45720: 424,
 69757: 425,
 72998: 426,
 80549: 427,
 84954: 428,
 86833: 429,
 88810: 430,
 94959: 431,
 96821: 432,
 111759: 433,
 111921: 434,
 112556: 435,
 115713: 436,
 122886: 437,
 134130: 438,
 148626: 439,
 152017: 440,
 3785: 441,
 3991: 442,
 5026: 443,
 8983: 444,
 48304: 445,
 58293: 446,
 65514: 447,
 74789: 448,
 82095: 449,
 85131: 450,
 94018: 451,
 3911: 452,
 4027: 453,
 4641: 454,
 4848: 455,
 4865: 456,
 5065: 457,
 5673: 458,
 5902: 459,
 6502: 460,
 6620: 461,
 7293: 462,
 8910: 463,
 30810: 464,
 31658: 465,
 34048: 466,
 34437: 467,
 61132: 468,
 61323: 469,
 71535: 470,
 79702: 471,
 84772: 472,
 88118: 473,
 103341: 474,
 115149: 475,
 115569: 476,
 122912: 477,
 140267: 478,
 175303: 479,
 177593: 480,
 3273: 481,
 3408: 482,
 3483: 483,
 3512: 484,
 3534: 485,
 3535: 486,
 3536: 487,
 3594: 488,
 3886: 489,
 3956: 490,
 3967: 491,
 3968: 492,
 3973: 493,
 4014: 494,
 4023: 495,
 4069: 496,
 4815: 497,
 5612: 498,
 4310: 499,
 4814: 500,
 4054: 501,
 4370: 502,
 4720: 503,
 5325: 504,
 5377: 505,
 5669: 506,
 5684: 507,
 6218: 508,
 8957: 509,
 8984: 510,
 27879: 511,
 30793: 512,
 39183: 513,
 39446: 514,
 42723: 515,
 45722: 516,
 46970: 517,
 48877: 518,
 52973: 519,
 53123: 520,
 53894: 521,
 56805: 522,
 58303: 523,
 60766: 524,
 61024: 525,
 61236: 526,
 63113: 527,
 63131: 528,
 64614: 529,
 64839: 530,
 67734: 531,
 68237: 532,
 68358: 533,
 68901: 534,
 69122: 535,
 69481: 536,
 69640: 537,
 72011: 538,
 77455: 539,
 81932: 540,
 82459: 541,
 3624: 542,
 4369: 543,
 4727: 544,
 4824: 545,
 5785: 546,
 5791: 547,
 6013: 548,
 6503: 549,
 5015: 550,
 4447: 551,
 4821: 552,
 4887: 553,
 5014: 554,
 5151: 555,
 5313: 556,
 5620: 557,
 5881: 558,
 7325: 559,
 7379: 560,
 6889: 561,
 7090: 562,
 6380: 563,
 34153: 564,
 6953: 565,
 52328: 566,
 56145: 567,
 57669: 568,
 65642: 569,
 77307: 570,
 88744: 571,
 89492: 572,
 96811: 573,
 99917: 574,
 101525: 575,
 104374: 576,
 104879: 577,
 106100: 578,
 106920: 579,
 107406: 580,
 112623: 581,
 112804: 582,
 113741: 583,
 115680: 584,
 117881: 585,
 133771: 586,
 139644: 587,
 156387: 588,
 158783: 589,
 161582: 590,
 164179: 591,
 174055: 592,
 176371: 593,
 177615: 594,
 187595: 595,
 3510: 596,
 5267: 597,
 5574: 598,
 6263: 599,
 7439: 600,
 31685: 601,
 33660: 602,
 34150: 603,
 34534: 604,
 37853: 605,
 49314: 606,
 50794: 607,
 51037: 608,
 51080: 609,
 52245: 610,
 53129: 611,
 55995: 612,
 56156: 613,
 56174: 614,
 58297: 615,
 58627: 616,
 58803: 617,
 60040: 618,
 3615: 619,
 3978: 620,
 4016: 621,
 4366: 622,
 4994: 623,
 5066: 624,
 5146: 625,
 5444: 626,
 5992: 627,
 3285: 628,
 3882: 629,
 3910: 630,
 3979: 631,
 4255: 632,
 4390: 633,
 4744: 634,
 4816: 635,
 4873: 636,
 4881: 637,
 5025: 638,
 5072: 639,
 5266: 640,
 5268: 641,
 5294: 642,
 5364: 643,
 5449: 644,
 5611: 645,
 5617: 646,
 5630: 647,
 5810: 648,
 5833: 649,
 6220: 650,
 6223: 651,
 6250: 652,
 6957: 653,
 7022: 654,
 7199: 655,
 7445: 656,
 8607: 657,
 8783: 658,
 27266: 659,
 27441: 660,
 27482: 661,
 27731: 662,
 27904: 663,
 30816: 664,
 32213: 665,
 33154: 666,
 33672: 667,
 34323: 668,
 37386: 669,
 37729: 670,
 38097: 671,
 39381: 672,
 41571: 673,
 42718: 674,
 43928: 675,
 44694: 676,
 44974: 677,
 45208: 678,
 45728: 679,
 46723: 680,
 48560: 681,
 51091: 682,
 52885: 683,
 53024: 684,
 54426: 685,
 55280: 686,
 55872: 687,
 56003: 688,
 56339: 689,
 56587: 690,
 56757: 691,
 57637: 692,
 57792: 693,
 57980: 694,
 59387: 695,
 59684: 696,
 60037: 697,
 61136: 698,
 61240: 699,
 63062: 700,
 63876: 701,
 64034: 702,
 67665: 703,
 68519: 704,
 69134: 705,
 69784: 706,
 70533: 707,
 70728: 708,
 71156: 709,
 71205: 710,
 71282: 711,
 71379: 712,
 72731: 713,
 74416: 714,
 77561: 715,
 77798: 716,
 78681: 717,
 78836: 718,
 80831: 719,
 81417: 720,
 82242: 721,
 84116: 722,
 84187: 723,
 84880: 724,
 86355: 725,
 87306: 726,
 90374: 727,
 94558: 728,
 96832: 729,
 103574: 730,
 104074: 731,
 104243: 732,
 105248: 733,
 112183: 734,
 3598: 735,
 4340: 736,
 4368: 737,
 4386: 738,
 116823: 739,
 122920: 740,
 4224: 741,
 6286: 742,
 27728: 743,
 34542: 744,
 37830: 745,
 45499: 746,
 47894: 747,
 48082: 748,
 49932: 749,
 52806: 750,
 53519: 751,
 54272: 752,
 54995: 753,
 55069: 754,
 55442: 755,
 55908: 756,
 56286: 757,
 57368: 758,
 57504: 759,
 57640: 760,
 59615: 761,
 60684: 762,
 62376: 763,
 64497: 764,
 64957: 765,
 65261: 766,
 66097: 767,
 69526: 768,
 72554: 769,
 81229: 770,
 83134: 771,
 86332: 772,
 86644: 773,
 87232: 774,
 90890: 775,
 94864: 776,
 96588: 777,
 96737: 778,
 97923: 779,
 98203: 780,
 100108: 781,
 102125: 782,
 102445: 783,
 103655: 784,
 103772: 785,
 103810: 786,
 106002: 787,
 106072: 788,
 108928: 789,
 110102: 790,
 111362: 791,
 111617: 792,
 111743: 793,
 114246: 794,
 114662: 795,
 114707: 796,
 114795: 797,
 116977: 798,
 119145: 799,
 120466: 800,
 120799: 801,
 122900: 802,
 125916: 803,
 128838: 804,
 130634: 805,
 131013: 806,
 132796: 807,
 135518: 808,
 4888: 809,
 5515: 810,
 5577: 811,
 6159: 812,
 6268: 813,
 6873: 814,
 7151: 815,
 7323: 816,
 7367: 817,
 7982: 818,
 8638: 819,
 8981: 820,
 30707: 821,
 30848: 822,
 32291: 823,
 32296: 824,
 33669: 825,
 33880: 826,
 34072: 827,
 34271: 828,
 36537: 829,
 37857: 830,
 40826: 831,
 41285: 832,
 42632: 833,
 43560: 834,
 44709: 835,
 45666: 836,
 45880: 837,
 45928: 838,
 46335: 839,
 46967: 840,
 47423: 841,
 47999: 842,
 49347: 843,
 50912: 844,
 51077: 845,
 51455: 846,
 51709: 847,
 53161: 848,
 54648: 849,
 55269: 850,
 55577: 851,
 55830: 852,
 57147: 853,
 59022: 854,
 60950: 855,
 62155: 856,
 62511: 857,
 69604: 858,
 71464: 859,
 80969: 860,
 87234: 861,
 90357: 862,
 91622: 863,
 93721: 864,
 96488: 865,
 96966: 866,
 100714: 867,
 102800: 868,
 103980: 869,
 105213: 870,
 106766: 871,
 106918: 872,
 108149: 873,
 110110: 874,
 110718: 875,
 111235: 876,
 111757: 877,
 112290: 878,
 113225: 879,
 117444: 880,
 117533: 881,
 127152: 882,
 127202: 883,
 127441: 884,
 3189: 885,
 53953: 886,
 90405: 887,
 102880: 888,
 113573: 889,
 122896: 890,
 122922: 891,
 122924: 892,
 128360: 893,
 135536: 894,
 135861: 895,
 143355: 896,
 159093: 897,
 162606: 898,
 164909: 899,
 166528: 900,
 168250: 901,
 173291: 902,
 3752: 903,
 3969: 904,
 3999: 905,
 4728: 906,
 6196: 907,
 43919: 908,
 47200: 909,
 68205: 910,
 3831: 911,
 4380: 912,
 4639: 913,
 5013: 914,
 5222: 915,
 5572: 916,
 5685: 917,
 6709: 918,
 6936: 919,
 3286: 920,
 3409: 921,
 3571: 922,
 3616: 923,
 3646: 924,
 3821: 925,
 3955: 926,
 3975: 927,
 4158: 928,
 4254: 929,
 4299: 930,
 4388: 931,
 4735: 932,
 4876: 933,
 4898: 934,
 4899: 935,
 5046: 936,
 5047: 937,
 5093: 938,
 5127: 939,
 5128: 940,
 5171: 941,
 5319: 942,
 5323: 943,
 5478: 944,
 5480: 945,
 5530: 946,
 5621: 947,
 5784: 948,
 5878: 949,
 5900: 950,
 5942: 951,
 6014: 952,
 6058: 953,
 6063: 954,
 6155: 955,
 6156: 956,
 6157: 957,
 6197: 958,
 6212: 959,
 6287: 960,
 6297: 961,
 6323: 962,
 6338: 963,
 6484: 964,
 6565: 965,
 6593: 966,
 6615: 967,
 6617: 968,
 6686: 969,
 6695: 970,
 6763: 971,
 6790: 972,
 6869: 973,
 6888: 974,
 6958: 975,
 7150: 976,
 7156: 977,
 7161: 978,
 7163: 979,
 7173: 980,
 7265: 981,
 7347: 982,
 7360: 983,
 7362: 984,
 7376: 985,
 7448: 986,
 7459: 987,
 8370: 988,
 8485: 989,
 8531: 990,
 8800: 991,
 8830: 992,
 8865: 993,
 8948: 994,
 8966: 995,
 8970: 996,
 27478: 997,
 27706: 998,
 27808: 999,
 ...}